<div class="property">
    <mat-tab-group class="hideTabLabels" [(selectedIndex)]="tabIndex">
        <mat-tab label="First">
            <div class="propertyList">
                <h3> <mat-icon>list</mat-icon>Property List </h3>
                <button class="appRedButton" (click)="changeTab(1)">Add Property</button>
            </div>
            <app-table></app-table>
        </mat-tab>
        <mat-tab label="Second">
            <add-property (updateEvent)="handlePropertyUpdate($event)"></add-property>
        </mat-tab>
    </mat-tab-group>
</div>