@use "../../../styles.scss" as styles;

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 0;
  height: styles.$headerHeight;
  background-color: #f5f5f5;

  .logo {
    background-image: url("../../../assets/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: styles.$headerHeight;
    width: 100px;
  }
}
img {
  max-height: 80px;
}



.example-spacer {
  flex: 1 1 auto;
}

div, span, h1, h2, h3, h4, p{
  // font-family: 'Poppins', 'Roboto';
}