<mat-toolbar class="toolBar">
    <button mat-icon-button class="example-icon" 
    (click)="toggleSlideMenu()"
    aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <img src="assets/logo.png" alt="LOGO" height="60px">
    <!-- <span>Guest Registeration</span> -->
</mat-toolbar>
<div class="toolBarGap"></div>

<section class="dashboard" id="dashboard" #dashboard [class.active]="slideMenuToggle">
    <div class="sideMenu">
        <slide-menu [selectedItem]="selectedItem" (selectedMenuItem)="handleEmitEvent($event)"></slide-menu>
    </div>

    <div class="dashboardBody">
        <user-profile *ngIf="selectedItem?.componentSelector === 'profile'"></user-profile>
        <user-property *ngIf="selectedItem?.componentSelector === 'property'"></user-property>
        <user-tenants *ngIf="selectedItem?.componentSelector === 'tenants'"></user-tenants>
    </div>
</section>
