<mat-toolbar class="toolBar">
    <button *ngIf="currentUser?.role != policeRole" mat-icon-button (click)="toggleSlideMenu()">
        <mat-icon>menu</mat-icon>
    </button>

    <button *ngIf="currentUser?.role == policeRole" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    <span class="example-spacer"></span>
    <!-- <img src="assets/logo.png" alt="LOGO" height="60px"> -->
    <span class="app-heading" [class.admin]="currentUser?.role == policeRole">Guest {{ currentUser?.role == policeRole ? 'Search' : 'Registeration' }}</span>
    <span class="toolBarImage" *ngIf="currentUser?.role == policeRole">
        <img src="../../../assets/mh-police.png" alt="" srcset="">
    </span>
</mat-toolbar>
<div class="toolBarGap"></div>

<section class="dashboard" *ngIf="currentUser?.role != policeRole" id="dashboard" #dashboard [class.active]="slideMenuToggle">
    <div class="sideMenu">
        <slide-menu [data]="slideMenuData" [selectedItem]="selectedItem" (selectedMenuItem)="handleEmitEvent($event)"></slide-menu>
    </div>

    <div class="dashboardBody">
        <user-profile *ngIf="selectedItem?.componentSelector === 'profile'"></user-profile>
        <user-property *ngIf="selectedItem?.componentSelector === 'property'"></user-property>
        <user-tenants *ngIf="selectedItem?.componentSelector === 'tenants'"></user-tenants>
    </div>
</section>

<section class="dashboardAdmin" *ngIf="currentUser?.role == policeRole" #dashboard>
    <police-search></police-search>
</section>
