<div class="add-property">
    <!-- <iframe src="[your unique google URL] " width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
    <!-- <map-selector></map-selector> -->
    
<div #map style="width:100%;height:400px"></div>
    <div class="buttonContainer">
        <button class="appButton" (click)="cancelChanges()"> <mat-icon>undo</mat-icon> Cancel</button>
        <button class="appRedButton" (click)="saveChanges()">Save Property</button>
    </div>
</div>